::-webkit-scrollbar { 
    display: none; 
}
.masterlayer {
    background: url("../images/hero-bg.jpeg") no-repeat center top;
    margin-top: -10px;
    text-align: center;
    /*background-attachment: fixed;*/
    background-position: center center;
    min-height: 700px;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgba(0,0,0,.5);
}
.text{
    margin-top: -10px;
    font-family: 'Montserrat',sans-serif;
   font-size: 3.9rem;
    color: #fff;
    font-weight: 700;
    line-height: 1.2;
}
.home-logo{
    display: inline-block;
    left: 48%;
    
    height: auto;
    padding: 28px;
    position: absolute;
    white-space: nowrap;
    z-index: 2;
    text-decoration: none;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 2.5%;
    text-align: center;
    
}
.home-logo img{
border-radius: 5px;
width: 60px;
}

#firstbtn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: dimgray;
    box-shadow: 0 0 0 2px #f3ae05 inset!important;
    border-radius: 20px;
    font-size: large;
    width:130px;
    -webkit-transition: width;
    -webkit-transition-duration: 0.5s;
    /*-webkit-transition: width 2s linear 1s;
    transition:width 2s;*/
  
}
#firstbtn:hover{
    background: #f3ae05;
    color:black;
    width:150px;
}

#firstbtn:active{
    background: #f3ae05;
    color:black;
    width:150px;
}
@media screen and (max-width: 768px)
{
    .home-logo img {
        width: 48px;
    }
    
}
@media screen and (max-width: 1280px)
{
    .text{
        font-size: 2.8rem ;
    }
}